@"
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace file
go.work

# Dependency directories
vendor/
bin/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo

# Environment files
.env
"@ | Out-File -FilePath .\.gitignore -Encoding utf8